.navbar
{
    background-image: linear-gradient(to left, #56ccf2, #2f80ed), linear-gradient(#3a7bd5, #3a7bd5);
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.3);
}

#nav_point
{
    margin-left: 108px;
    margin-top: 7px;
}

#nv_search
{
    margin-left: 150px;
    border-radius: 20px;
    width: 553px;
    height: 33px;
    text-align: left;
    color: rgba(91, 90, 90, 0.33);
    font-family: font/SVN-Gilroy;
    background-image: url("../img/ic_timkiem.png");
    background-size: 20px;
    background-position: 520px 7px;
    background-repeat: no-repeat;
    font-weight: bold;
    color: #525252;
}

.show-on-hover:hover > ul.dropdown-menu {
    display: block;
}

.navbar_left {
    background-image: linear-gradient(to left, #56ccf2, #2f80ed), linear-gradient(#3a7bd5, #3a7bd5);
    padding: 0px;
    min-height: 100%;
    height: 500px;
    margin-top:-20px;
    width: 260px;
}

#nv_content
{
    font-family: font/SVN-Gilroy;
    font-weight: bold;
    font-size: 18px;
    margin-left: -5px;
    color: #3a78cd;
}
.info {
    max-height: 130px;
}

.info>img {
    margin-top: 30px;
    border-radius: 50%;
    box-shadow: 0px 13px 29px 0 rgba(0, 0, 0, 0.32);
}

#loc {
    width: 175px;
    height: 35px;
    border-radius: 7px;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.49);
    background-image: url("../img/filter.png");
    background-size: 23px;
    background-position: 145px 5px;
    background-repeat: no-repeat;
    margin-top: -20px;
    margin-left: 28px;
    font-weight: bold;
}

.list-group-item {
    font-family: font/SVN-Gilroy;
    color:#323232;
    font-weight: bold;
    font-size: 19px;

}
.scrollbar
{
    margin-left: 30px;
    float: left;
    height: 505px;
    width: 900px;
    background: #fff;
    overflow-y: scroll;

}

.force-overflow
{
    min-height: 10px;
}

#wrapper
{
    text-align: center;
    width: 100px;
    margin: auto;
}

.point {
    margin-left: 130px;
    font-family: font/SVN-Gilroy;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: -3px;
    color: #fff
}

.name {
    text-align: center;
    margin-top: 8px;
    color: #fff;
    font-family: font/SVN-Gilroy;
    font-weight: bold;
    font-size: 20px
}

.mssv {
    text-align: center;
    margin-top: -8px;
    color: #fff;
    font-family: font/SVN-Gilroy;
    font-weight: bold;
    font-size: 15px
}

.chitiet{

    background-image: linear-gradient(to left, #56ccf2, #2f80ed), linear-gradient(#3a7bd5, #3a7bd5);
    padding: 0px;
    min-height: 100%;
}

.module {
    margin-bottom: 15px;
    width: 1045px;
    height: 460px;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-left: -20px;
    margin-top: -15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.head-table {
    width: 1045px;
    height: 35px;
    background-image: linear-gradient(to left, #56ccf2, #2f80ed), linear-gradient(#0076a3, #0076a3);
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.text-heading {
    font-family: font/SVN-Gilroy;
    font-size: 20px;
    font-weight: bold;
    line-height: 0.17;
    letter-spacing: -0.1px;
    color: #ffffff;
    text-align: center;
}

.info2 {
    font-family: font/SVN-Gilroy;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #3a3a3a;
}

.scrollbar
{
    margin-left: 30px;
    float: left;
    height: 530px;
    width: 1045px;
    background: #F5F5F5;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.force-overflow
{
    min-height: 500px;
}

#wrapper
{
    text-align: center;
    margin-left: -30px;
}

#hoatdong {
    color: #525252;
}

#goiy {
    color: #337ab7;
}

#lotrinh {
    color: #337ab7
}

#thamgia {
    color: #337ab7;
}

#lienhe {
    color: #337ab7;
}

#nd {
    font-family: font/SVN-Gilroy;
    font-weight: bold;
    color: #028bcc;
    font-size: 19px;
    margin-top: 5px;
}

#nd_hoatdong2 {
    font-family: font/SVN-Gilroy;
    font-weight: bold;
    color: #323232;
    font-size: 19px;
}

#nd_maloai2 {
    font-family: font/SVN-Gilroy;
    font-weight: bold;
    color: #323232;
    font-size: 19px;
}

#nd_tenhd2 {
    font-family: font/SVN-Gilroy;
    font-weight: bold;
    color: #323232;
    font-size: 19px;
}

#nd_sodiem2 {
    font-family: font/SVN-Gilroy;
    font-weight: bold;
    color: #323232;
    font-size: 19px;
}

#nd_ngay2 {
    font-family: font/SVN-Gilroy;
    font-weight: bold;
    color: #323232;
    font-size: 19px;
}

#nd_thoigian {
    font-family: font/SVN-Gilroy;
    font-weight: bold;
    color: #337ab7;
    font-size: 19px;
    margin-left: 30px;
    margin-top: 15px;
}

#nd_thoigian2{
    font-family: font/SVN-Gilroy;
    font-weight: bold;
    color: #323232;
    font-size: 19px;
}

#nd_diadiem2 {
    font-family: font/SVN-Gilroy;
    font-weight: bold;
    color: #323232;
    font-size: 19px;
}

#nd_soluong2 {
    font-family: font/SVN-Gilroy;
    font-weight: bold;
    color: #323232;
    font-size: 19px;
}