#bt {
    width: 120px;
    height: 34px;
    border-radius: 8.9px;
    background-color: #1cae6b;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.5);
    font-family: font/SVN-Gilroy;
    font-size: 22px;
    font-weight: bold;
    line-height: 0.23;
    letter-spacing: -0.2px;
    text-align: center;
    color: #ffffff;
    border: none;
}