.images_title
{
    margin-top: 36px;
    text-align: center;
}
.text1
{
    margin-top: 11px;
    font-family: font/SVN-Gilroy;
    font-size: 43.6px;
    font-weight: bold;
    color: #525252;
}
.text2
{
    background-image: linear-gradient(to left, #56ccf2, #2f80ed), linear-gradient(#000000, #000000);
    font-family: font/SVN-Gilroy;
    font-size: 56.4px;
    font-weight: bold;
    letter-spacing: -0.3px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 5px 5px rgba(76, 147, 240, 0.28);
    margin-left: 61px;
    margin-top: 10px;
}
.images_content
{
    margin-top: 10px;
    margin-bottom: 25px;
    margin-left: 50px;
    margin-right: 661px;
}
#mssv
{
    font-family: font/SVN-Gilroy;
    font-size: 19px;
    font-weight: bold;
    text-align: left;
    color: #525252;
    width: 440px;
    height: 50px;
    border-radius: 37.8px;
    background-color: #ffffff;
    box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.44);
    margin-top: -20px;
}
#pass
{
    font-family: font/SVN-Gilroy;
    font-size: 19px;
    font-weight: bold;
    text-align: left;
    color: #525252;
    margin-top: 5px;
    width: 440px;
    height: 50px;
    border-radius: 37.8px;
    background-color: #ffffff;
    box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.44);
}
.button
{
    margin-top: 25px;
    width: 440px;
    height: 50px;
    font-family: font/SVN-Gilroy;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    border-radius: 37.8px;
    background-color: #1cae6b;
    box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.44);
    border: none;
}






