<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>My Training Point</title>
    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/cssS11.css">
    <style>
      @font-face { font-family: JuneBug; src: url('../font/SVN-Gilroy Bold.otf') format('truetype'); } 
    </style>
	<link rel="icon" href="../img/LOGO2.png" type="image/x-icon">
</head>
<body>
<nav class="navbar navbar-static-top">
    <div class="container-fluid">
        <!-- Navbar top -->
        <a class="navbar-brand" href="/sinhvien">
            <p style="color:#fff; font-family: font/SVN-Gilroy; font-weight: bold; font-size: 19px"> <img src="../img/LOGO.png" height="40" width="40" style="margin-top: -11px; margin-right: 10px">MY TRAINING POINT</p>
        </a>
        <!-- Diem -->
        <form class="navbar-form navbar-left" method="post" action='/sinhvien/HoatDongTimKiem' role="search" >
            <div class="form-group">
                <p class="point"> <img src="../img/ic_medal.png" height="30" width="30" ><%=diem%></p>
            </div>
            <!-- Search -->
            <div class="form-group">
                <input type="text" name = 'KeyWord'  class="form-control" placeholder="Tìm kiếm tên hoạt động" id="nv_search" style="font-size: 15px" >
            </div>
        </form>
        <!-- Menu dropdowm -->
        <div class="nav navbar-nav navbar-right">
            <div class="btn-group show-on-hover">
                <div data-toggle="dropdown" style="margin-right: 10px">
                    <img src="../img/ic_setting.png" height="25" width="25" style="margin-top:12px; margin-right: 5px">
                    <span class="caret" style="color: #fff"></span>
                </div>
                <ul class="dropdown-menu" role="menu">
                    <li><a id="profile" href="profile">Profile</a></li>
                    <li><a id="help"href="help">Help</a></li>
                    <li><a id="doimatkhau"href="doimatkhau">Đổi mật khẩu</a></li>
                    <li class="divider"></li>
                    <li><a id="dangxuat"href="/logout">Đăng xuất <img src="../img/ic_logout.png" height="15" style="opacity: 50"></a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 navbar_left">
            <!-- Thông tin sinh viên -->
            <a href='profile' style=" text-decoration: none;">
            <div class="info">
                <img id="avatar" src="../img/<%if(datasv[0].CoAvt != null){%><%=datasv[0].MSSV%>.png<%}else{%>ic_avatar.png<%}%>" class="img-responsive center-block" alt="Avatar" width="85px">
                <p class="name"> <%= datasv[0].Ten %> </p>
                <p class="mssv"> <%= datasv[0].MSSV %> </p>
            </div>
            </a>
            <br>
            <!-- Menu chức năng -->
            <div class="left-navigation" style="background-color: #fff" >
                <ul class="nav" id="nv_content" style="height: 375px">
                    <li><a id="hoatdong" href="hoatdong" ><img src="../img/ic_hoatdong.png" height="28" style="margin-right: 14px; margin-left: 50px">HOẠT ĐỘNG</a></li>
                    <li><a id="thamgia" href="thamgia"><img src="../img/ic_thamgia.png" height="28" style="margin-right: 14px; margin-left: 50px">THAM GIA</a> </li>
                    <li><a id="goiy" href="goiy"><img src="../img/ic_goiy.png" height="28" style="margin-right: 16px; margin-left: 48px">GỢI Ý</a></li>
                    <li><a id="lotrinh" href="lotrinh" ><img src="../img/ic_lotrinh.png" height="28" style="margin-right: 17px; margin-left: 47px">LỘ TRÌNH</a></li>
                    <li><a id="lienhe" href="lienhe"><img src="../img/ic_lienhe.png" height="28" style="margin-right: 17px; margin-left: 47px">LIÊN HỆ</a></li>
                </ul>
            </div>
        </div>
        <!-- Đổi mật khẩu -->
        <div class="col-md-9 content" style="margin-left: 36px" >

            <p style="margin-top:30px;margin-left:13px;font-family: font/SVN-Gilroy;font-size: 27px;font-weight: bold;line-height: 0.3;letter-spacing: -0.1px;color: #fb9b11;">ĐỔI MẬT KHẨU</p>

            <form action="" method="post" role="form">
                <!-- Nhap mat khau cu -->
                <div id="errors">
                <% if(loiMK == 5){%>
                <p style="color: #ff1b41; font-family: font/SVN-Gilroy; font-weight: bold; font-size: 19px; margin-left: 
                420px; margin-top: 15px"> Mật khẩu không chính xác </p>
                <%}%>
                <% if(loiMK == 1){%>
                <p style="color: #ff1b41; font-family: font/SVN-Gilroy; font-weight: bold; font-size: 19px; margin-left: 400px; margin-top: 15px; "> Điền đầy đủ thông tin vào ô trống </p>
                <%}%>
                <% if(loiMK == 2){%>
                <p style="color: #ff1b41; font-family: font/SVN-Gilroy; font-weight: bold; font-size: 19px; margin-left: 330px; margin-top: 15px"> Mật khẩu cũ và mật khẩu mới không được trùng </p>
                <%}%>
                <% if(loiMK == 3){%>
                <p style="color: #ff1b41; font-family: font/SVN-Gilroy; font-weight: bold; font-size: 19px; margin-left: 405px; margin-top: 15px; animation-delay: 2s"> Mật khẩu mới không trùng khớp </p>
                <%}%>
                <% if(loiMK == 4){%>
                <p style="color: #ff1b41; font-family: font/SVN-Gilroy; font-weight: bold; font-size: 19px; margin-left: 400px; margin-top: 15px"> Đổi mật khẩu thành công </p></div>                
                <%}else{%>
                </div>
                <div class="col-md-3" style="margin-top: 20px">
                    <p id="matkhaucu" class="text">Mật khẩu cũ:</p>
                </div>
                <div class="col-md-9" style="margin-top: 0px">
                    <input type="password" name ="MKC" class="form-control" id="matkhau1">
                </div>
                <!-- Nhap mat khau moi -->
                <div class="col-md-3" style="margin-top: 30px">
                    <p id="matkhaumoi1" class="text">Mật khẩu mới:</p>
                </div>
                <div class="col-md-9" style="margin-top: 15px">
                    <input type="password"  name ="MKM1" class="form-control" id="matkhau2">
                </div>
                <!-- Nhap lai mat khau moi -->
                <div class="col-md-4" style="margin-top: 30px">
                    <p id="matkhaumoi2" class="text">Nhập lại mật khẩu mới:</p>
                </div>
                <div class="col-md-8" style="margin-top: 15px">
                    <input type="password" name = "MKM2" class="form-control" id="matkhau3">
                </div>
                <!-- Button -->
                <button id="luuthaydoi" class="button"type="submit" class="btn btn-primary" style="margin-left:610px"onclick="return true">LƯU THAY ĐỔI</button>
                <script src="../js/jsS11.js"></script>
                <%}%>
            </form>
        </div>
    </div>
</div>
</body>
</html>