<!DOCTYPE html>
<html lang="vi">
<style>
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>My Training Point</title>
    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/cssS5.css">
    <style>
      @font-face { font-family: JuneBug; src: url('../font/SVN-Gilroy Bold.otf') format('truetype'); } 
    </style>
    <script type="text/javascript">
        var diem=document.getElementById('diem');
        var divErrors= document.getElementById('errors');

        function onFormSubmit()
        {
            diem=diem.value;
            if (diem.length == 0)
            {
                    divErrors.innerHTML =
                        '<div>\n' +
                        '<p style="text-align: center; color: #ff1b41; font-family: font/SVN-Gilroy; font-weight: bold; font-size: 19px; margin-left: 10px; margin-top: -10px">Không được bỏ trống MSSV hoặc Mật khẩu</p>\n' +
                        '</div>'
                return false;
            }else
                return true;
        }
    </script>
	<link rel="icon" href="../img/LOGO2.png" type="image/x-icon">
</head>
<body>
<nav class="navbar navbar-static-top">
    <div class="container-fluid">
        <!-- Navbar top -->
        <a class="navbar-brand" href="/sinhvien">
            <p style="color:#fff; font-family: font/SVN-Gilroy; font-weight: bold; font-size: 19px"> <img src="../img/LOGO.png" height="40" width="40" style="margin-top: -11px; margin-right: 10px">MY TRAINING POINT</p>
        </a>
        <!-- Diem -->
        <form class="navbar-form navbar-left" method="post" action='/sinhvien/HoatDongTimKiem' role="search" >
            <div class="form-group">
                <p class="point"> <img src="../img/ic_medal.png" height="30" width="30" ><%=diem%></p>
            </div>
            <!-- Search -->
            <div class="form-group">
                <input type="text"  name = 'KeyWord' class="form-control" placeholder="Tìm kiếm tên hoạt động" id="nv_search" style="font-size: 15px" >
            </div>
        </form>
        <!-- Menu dropdowm -->
        <div class="nav navbar-nav navbar-right">
            <div class="btn-group show-on-hover">
                <div data-toggle="dropdown" style="margin-right: 10px">
                    <img src="../img/ic_setting.png" height="25" width="25" style="margin-top:12px; margin-right: 5px">
                    <span class="caret" style="color: #fff"></span>
                </div>
                <ul class="dropdown-menu" role="menu">
                    <li><a id="profile" href="profile">Profile</a></li>
                    <li><a id="help"href="help">Help</a></li>
                    <li><a id="doimatkhau"href="doimatkhau">Đổi mật khẩu</a></li>
                    <li class="divider"></li>
                    <li><a id="dangxuat"href="/logout">Đăng xuất <img src="../img/ic_logout.png" height="15" style="opacity: 50"></a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 navbar_left">
            <!-- Thông tin sinh viên -->
            <a href='profile' style=" text-decoration: none;">
            <div class="info">
                <img id="avatar" src="../img/<%if(datasv[0].CoAvt != null){%><%=datasv[0].MSSV%>.png<%}else{%>ic_avatar.png<%}%>" class="img-responsive center-block" alt="Avatar" width="85px">
                <p class="name"> <%= datasv[0].Ten %> </p>
                <p class="mssv"> <%= datasv[0].MSSV %> </p>
            </div>
            </a>
            <br>
            <!-- Menu chức năng -->
            <div class="left-navigation" style="background-color: #fff" >
                <ul class="nav" id="nv_content" style="height: 375px">
                    <li><a id="hoatdong" href="hoatdong"><img src="../img/ic_hoatdong.png" height="28" style="margin-right: 14px; margin-left: 50px">HOẠT ĐỘNG</a></li>
                    <li><a id="thamgia" href="thamgia" ><img src="../img/ic_thamgia.png" height="28" style="margin-right: 14px; margin-left: 50px">THAM GIA</a> </li>
                    <li class="active"><a id="goiy" href="goiy"><img src="../img/ic_goiy.png" height="28" style="margin-right: 16px; margin-left: 48px">GỢI Ý</a></li>
                    <li><a id="lotrinh" href="lotrinh" ><img src="../img/ic_lotrinh.png" height="28" style="margin-right: 17px; margin-left: 47px">LỘ TRÌNH</a></li>
                    <li><a id="lienhe" href="lienhe"><img src="../img/ic_lienhe.png" height="28" style="margin-right: 17px; margin-left: 47px">LIÊN HỆ</a></li>
                </ul>
            </div>
        </div>
        <!-- Thông báo gợi ý -->
        <div class="col-md-9 content">
            <img src="../img/5_images.png" alt="" style="width: 848px; height: 483px; text-align: center;margin-left: 55px;margin-top:30px">
            <div class="centered">
                <article class="module">
                    <form action="goiy/goiydiem" method='post'>
                        <br>
                        <p id="t_goiy">GỢI Ý</p>
                        <p id="thongbao">Số điểm bạn mong muốn đạt được:</p>
                        <div id="errors">
                        
                       </div>
                       <div>
                            <input type="text" placeholder="vd: 80" class="form-control" id="diem" name="diem" style="margin-left: 190px; margin-top: -10px">
                            <button type="submit" id="ok" style="margin-left: 190px; margin-top: 10px" onclick="return onFormSubmit()">OK</button>
                       </div>
                    </form>
                </article>
            </div>
        </div>
    </div>
</div>
<script src="../js/jsS5.js"></script>
</body>
</html>