<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>My Training Point</title>
    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../css/cssS3_1.css">
    <style>
      @font-face { font-family: JuneBug; src: url('../font/SVN-Gilroy Bold.otf') format('truetype'); } 
    </style>
	<link rel="icon" href="../../img/LOGO2.png" type="image/x-icon">
</head>
<body>
<nav class="navbar navbar-static-top">
    <div class="container-fluid">
        <!-- Navbar top -->
        <a class="navbar-brand" href="/sinhvien" target="_blank">
            <p style="color:#fff; font-family: font/SVN-Gilroy; font-weight: bold; font-size: 19px"> <img src="../../img/LOGO.png" height="40" width="40" style="margin-top: -11px; margin-right: 10px">MY TRAINING POINT</p>
        </a>
        <!-- Diem -->
        <form class="navbar-form navbar-left" method="post" action='/sinhvien/HoatDongTimKiem' role="search" >
            <div class="form-group">
                <p class="point"> <img src="../../img/ic_medal.png" height="30" width="30" ><%=diem%></p>
            </div>
            <!-- Search -->
            <div class="form-group">
                <input type="text" name='KeyWord' class="form-control" placeholder="Tìm kiếm tên hoạt động" id="nv_search" style="font-size: 15px" >
            </div>
        </form>
        <!-- Menu dropdowm -->
        <div class="nav navbar-nav navbar-right">
            <div class="btn-group show-on-hover">
                <div data-toggle="dropdown" style="margin-right: 10px">
                    <img src="../../img/ic_setting.png" height="25" width="25" style="margin-top:12px; margin-right: 5px">
                    <span class="caret" style="color: #fff"></span>
                </div>
                <ul class="dropdown-menu" role="menu">
                    <li><a id="profile" href="../profile">Profile</a></li>
                    <li><a id="help"href="../help">Help</a></li>
                    <li><a id="doimatkhau"href="../doimatkhau">Đổi mật khẩu</a></li>
                    <li class="divider"></li>
                    <li><a id="dangxuat"href="/logout">Đăng xuất <img src="../../img/ic_logout.png" height="15" style="opacity: 50"></a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 navbar_left">
            <!-- Thông tin sinh viên -->
            <a href='/sinhvien/profile' style=" text-decoration: none;">
            <div class="info">
                <img id="avatar" src="../../img/<%if(datasv[0].CoAvt != null){%><%=datasv[0].MSSV%>.png<%}else{%>ic_avatar.png<%}%>" class="img-responsive center-block" alt="Avatar" width="85px">
                <p class="name"> <%= datasv[0].Ten %> </p>
                <p class="mssv"> <%= datasv[0].MSSV %> </p>  
            </div>
        </a>
            <br>
            <!-- Menu chức năng -->
            <div class="left-navigation" style="background-color: #fff" >
                <ul class="nav" id="nv_content" style="height: 375px">
                    <li class"active"><a id="hoatdong" href="../hoatdong"><img src="../../img/ic_hoatdong.png" height="28" style="margin-right: 14px; margin-left: 50px">HOẠT ĐỘNG</a></li>
                    <li><a id="thamgia" href="../thamgia"><img src="../../img/ic_thamgia.png" height="28" style="margin-right: 14px; margin-left: 50px">THAM GIA</a> </li>
                    <li><a id="goiy" href="../goiy"><img src="../../img/ic_goiy.png" height="28" style="margin-right: 16px; margin-left: 48px">GỢI Ý</a></li>
                    <li><a id="lotrinh" href="../lotrinh"><img src="../../img/ic_lotrinh.png" height="28" style="margin-right: 17px; margin-left: 47px">LỘ TRÌNH</a></li>
                    <li><a id="lienhe" href="../lienhe"><img src="../../img/ic_lienhe.png" height="28" style="margin-right: 17px; margin-left: 47px">LIÊN HỆ</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9 content" style="margin-left: 36px" >
            <!-- Thông tin trợ lý sinh viên -->
            <article class="module" style="margin-top: 20px">
            <table class="head-table" style="border-top-right-radius: 10px; border-top-left-radius: 10px; margin-top: -20px"><th class="text-heading">THÔNG TIN CHI TIẾT HOẠT ĐỘNG</th>
            </table>

                <ul class="list-group checked-list-box">
                  <li class="list-group-item" id="nd"><img src="../../img/ic_info.png" height="25" width="25">  <span style="padding-left:5px">Mã hoạt động:  <span style="padding-left:10px" id="nd_hoatdong2"> <%=cthd[0].MaHD%></span> </li>

                  <li class="list-group-item" id="nd"><img src="../../img/ic_info.png" height="25" width="25">  <span style="padding-left:5px">Loại hoạt động:  <span style="padding-left:10px" id="nd_maloai2"> <%=cthd[0].TenLoai%></span> </li>
                 
                  <li class="list-group-item" id="nd"><img src="../../img/ic_info.png" height="25" width="25">  <span style="padding-left:5px">Tên hoạt động:  <span style="padding-left:10px" id="nd_tenhd2"> <%=cthd[0].Ten%></span> </li>

                  <li class="list-group-item" id="nd"><img src="../../img/ic_info.png" height="25" width="25">  <span style="padding-left:5px">Số điểm đạt được:  <span style="padding-left:10px" id="nd_sodiem2"> <%=cthd[0].SoDRLDatDuoc%></span> </li>  
                  
                  <li class="list-group-item" id="nd"><img src="../../img/ic_info.png" height="25" width="25">  <span style="padding-left:5px">Ngày tổ chức:  <span style="padding-left:10px" id="nd_ngay2"> <%=cthd[0].NgayToChuc.toLocaleDateString();%></span> </li>   

                  <li class="list-group-item" id="nd"><img src="../../img/ic_info.png" height="25" width="25">  <span style="padding-left:5px">Thời gian:  <span style="padding-left:10px" id="nd_thoigian2"> 07:30</span> </li>

                  <li class="list-group-item" id="nd"><img src="../../img/ic_info.png" height="25" width="25">  <span style="padding-left:5px">Địa điểm:  <span style="padding-left:10px" id="nd_diadiem2"> <%=cthd[0].DiaDiemToChuc%></span> </li>

                  <li class="list-group-item" id="nd"><img src="../../img/ic_info.png" height="25" width="25">  <span style="padding-left:5px">Số lượng tham gia:  <span style="padding-left:10px" id="nd_soluong2"> <%=cthd[0].SoLuongThamGia%></span> </li>
                </ul>
            </div>
            </article>
        </div>
    </div>
</div>
<SCRIPT src="../../PageManager/ChangePageManger.js"></SCRIPT>
</body>
</html>