<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>My Training Point</title>
    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/cssS3.css">
    <style>
      @font-face { font-family: JuneBug; src: url('../font/SVN-Gilroy Bold.otf') format('truetype'); } 
    </style>
	<link rel="icon" href="../img/LOGO2.png" type="image/x-icon">
</head>
<body>
<nav class="navbar navbar-static-top">
    <div class="container-fluid">
        <!-- Navbar top -->
        <a class="navbar-brand" href="/sinhvien">
            <p style="color:#fff; font-family: font/SVN-Gilroy; font-weight: bold; font-size: 19px"> <img src="../img/LOGO.png" height="40" width="40" style="margin-top: -11px; margin-right: 10px">MY TRAINING POINT</p>
        </a>
        <!-- Diem -->
        <form class="navbar-form navbar-left" method="post" action='/sinhvien/HoatDongTimKiem' role="search" >
            <div class="form-group">
                <p class="point"> <img src="../img/ic_medal.png" height="30" width="30" ><%=diem%></p>
            </div>
            <!-- Search -->
            <div class="form-group">
                <input type="text"  name = 'KeyWord' class="form-control" placeholder="Tìm kiếm tên hoạt động" id="nv_search" style="font-size: 15px" >
            </div>
        </form>
        <!-- Menu dropdowm -->
       <div class="nav navbar-nav navbar-right">
            <div class="btn-group show-on-hover">
                <div data-toggle="dropdown" style="margin-right: 10px">
                    <img src="../img/ic_setting.png" height="25" width="25" style="margin-top:12px; margin-right: 5px">
                    <span class="caret" style="color: #fff"></span>
                </div>
                <ul class="dropdown-menu" role="menu">
                    <li><a id="profile" href="profile">Profile</a></li>
                    <li><a id="help"href="help">Help</a></li>
                    <li><a id="doimatkhau"href="doimatkhau">Đổi mật khẩu</a></li>
                    <li class="divider"></li>
                    <li><a id="dangxuat"href="/logout">Đăng xuất <img src="../img/ic_logout.png" height="15" style="opacity: 50"></a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 navbar_left">
            <!-- Thông tin sinh viên -->
            <a href='profile' style=" text-decoration: none;">
            <div class="info">
                <img id="avatar" src="../img/<%if(datasv[0].CoAvt != null){%><%=datasv[0].MSSV%>.png<%}else{%>ic_avatar.png<%}%>" class="img-responsive center-block" alt="Avatar" width="85px">
                <p class="name"> <%= datasv[0].Ten %> </p>
                <p class="mssv"> <%= datasv[0].MSSV %> </p>  
            </div>
            </a> 
            <br>
            <!-- Menu chức năng -->
            <div class="left-navigation" style="background-color: #fff" >
                <ul class="nav" id="nv_content" style="height: 375px">
                    <li><a id="hoatdong" href="hoatdong"><img src="../img/ic_hoatdong.png" height="28" style="margin-right: 14px; margin-left: 50px">HOẠT ĐỘNG</a></li>
                    <li><a id="thamgia" href="thamgia"><img src="../img/ic_thamgia.png" height="28" style="margin-right: 14px; margin-left: 50px">THAM GIA</a> </li>
                    <li><a id="goiy" href="goiy"><img src="../img/ic_goiy.png" height="28" style="margin-right: 16px; margin-left: 48px">GỢI Ý</a></li>
                    <li><a id="lotrinh" href="lotrinh"><img src="../img/ic_lotrinh.png" height="28" style="margin-right: 17px; margin-left: 47px">LỘ TRÌNH</a></li>
                    <li><a id="lienhe" href="lienhe"><img src="../img/ic_lienhe.png" height="28" style="margin-right: 17px; margin-left: 47px">LIÊN HỆ</a></li>
                </ul>
            </div>
        </div>
        <!-- Lọc thông tin -->
        <form class="col-md-9 form-group" id="Locthongtin"  action="" method="post" role="form">
            <div class="form-MSSV">
                <label></label>
                <input type="text" class="form-control" name="" id="loc" placeholder="Lọc thông tin">
            </div>
        </form>
        <!-- Nội dung -->
        <div class="col-md-9">
            <!-- Mục 1-->
            <article class="module" style="margin-top: -5px">
                <div class="panel-heading">
                    <p style="background-color:#454f5c; color: #ffffff; font-family: font/SVN-Gilroy; font-weight: bold; border-radius: 8.9px; width: 390px; height: 32px; font-size: 20px; text-align: center">MỤC I: ĐÁNH GIÁ VỀ Ý THỨC HỌC TẬP</p>
                </div>
                <div class="scrollbar" class="style-default" style="margin-top: -10px; margin-left: 50px ">
                    <div class="force-overflow" ></div>
                    <ul class="list-group" >
                    <%for(var i =0;i<dshd[0].length;i++){if(dshd[0][i].MaLoai == 1){%>
                        <li class="list-group-item">
                        <%if(dshd[0][i].DaDangKy == 0){%>
                            <a href='hoatdong/dangki/<%=dshd[0][i].MaHD%>'><button class="button  btn-primary pull-right dangky" type="submit">ĐĂNG KÝ</button></a>
                        <%}else{%>
                            <a href='hoatdong/huydangki/<%=dshd[0][i].MaHD%>'><button class="button  btn-primary pull-right huydangky" type="submit">HỦY ĐĂNG KÝ</button></a>
                        <%}%>
                            <a href='hoatdong/<%=dshd[0][i].MaHD%>'><%=dshd[0][i].Ten%></a>
                        </li>
                    <%}}%>
                    </ul>
                </div>
            </article>
            <!-- Mục 2 -->
            <article class="module">
                <div class="panel-heading">
                    <p style="background-color:#454f5c; color: #ffffff; font-family: font/SVN-Gilroy; font-weight: bold; border-radius: 8.9px; width: 656px; height: 32px; font-size: 20px; text-align: center">MỤC II: Ý THỨC CHẤP HÀNH NỘI QUY, QUY CHẾ TRONG TRƯỜNG</p>
                </div>
                <div class="scrollbar" class="style-default" style="margin-top: -20px; margin-left: 50px ">
                    <div class="force-overflow" ></div>
                    <ul class="list-group" >
                        <%for(var i =0;i<dshd[0].length;i++){if(dshd[0][i].MaLoai == 2){%>
                        <li class="list-group-item">
                            <%if(dshd[0][i].DaDangKy == 0){%>
                            <a href='hoatdong/dangki/<%=dshd[0][i].MaHD%>'><button class="button  btn-primary pull-right dangky" type="submit">ĐĂNG KÝ</button></a>
                        <%}else{%>
                            <a href='hoatdong/huydangki/<%=dshd[0][i].MaHD%>'><button class="button  btn-primary pull-right huydangky" type="submit">HỦY ĐĂNG KÝ</button></a>
                        <%}%>
                            <a href='hoatdong/<%=dshd[0][i].MaHD%>'><%=dshd[0][i].Ten%></a>
                        </li>
                    <%}}%>
                    </ul>
                </div>
            </article>
            <!-- Mục 3 -->
            <article class="module">
                <div class="panel-heading">
                    <p style="background-color:#454f5c; color: #ffffff; font-family: font/SVN-Gilroy; font-weight: bold; border-radius: 8.9px; width: 586px; height: 32px; font-size: 20px; text-align: center">MỤC III: Ý THỨC THAM GIA HOẠT ĐỘNG CHÍNH TRỊ, XÃ HỘI</p>
                </div>
                <div class="scrollbar" class="style-default" style="margin-top: -20px; margin-left: 50px ">
                    <div class="force-overflow" ></div>
                    <ul class="list-group" >
                        <%for(var i =0;i<dshd[0].length;i++){if(dshd[0][i].MaLoai == 3){%>
                        <li class="list-group-item">
                            <%if(dshd[0][i].DaDangKy == 0){%>
                            <a href='hoatdong/dangki/<%=dshd[0][i].MaHD%>'><button class="button  btn-primary pull-right dangky" type="submit">ĐĂNG KÝ</button></a>
                        <%}else{%>
                            <a href='hoatdong/huydangki/<%=dshd[0][i].MaHD%>'><button class="button  btn-primary pull-right huydangky" type="submit">HỦY ĐĂNG KÝ</button></a>
                        <%}%>
                            <a href='hoatdong/<%=dshd[0][i].MaHD%>'><%=dshd[0][i].Ten%></a>
                        </li>
                    <%}}%>
                    </ul>
                </div>
            </article>
            <!--Mục 4 -->
            <article class="module">
                <div class="panel-heading">
                    <p style="background-color:#454f5c; color: #ffffff; font-family: font/SVN-Gilroy; font-weight: bold; border-radius: 8.9px; width: 600px; height: 32px; font-size: 20px; text-align: center">MỤC IV: Ý THỨC CÔNG DÂN TRONG QUAN HỆ CỘNG ĐỒNG</p>
                </div>
                <div class="scrollbar" class="style-default" style="margin-top: -20px; margin-left: 50px ">
                    <div class="force-overflow" ></div>
                    <ul class="list-group" >
                        <%for(var i =0;i<dshd[0].length;i++){if(dshd[0][i].MaLoai == 4){%>
                        <li class="list-group-item">
                            <%if(dshd[0][i].DaDangKy == 0){%>
                            <a href='hoatdong/dangki/<%=dshd[0][i].MaHD%>'><button class="button  btn-primary pull-right dangky" type="submit">ĐĂNG KÝ</button></a>
                        <%}else{%>
                            <a href='hoatdong/huydangki/<%=dshd[0][i].MaHD%>'><button class="button  btn-primary pull-right huydangky" type="submit">HỦY ĐĂNG KÝ</button></a>
                        <%}%>
                            <a href='hoatdong/<%=dshd[0][i].MaHD%>'><%=dshd[0][i].Ten%></a>
                        </li>
                    <%}}%>
                    </ul>
                </div>
            </article>
            <!--Mục 5-->
            <article class="module">
                <div class="panel-heading">
                    <p style="background-color:#454f5c; color: #ffffff; font-family: font/SVN-Gilroy; font-weight: bold; border-radius: 8.9px; width: 500px; height: 32px; font-size: 20px; text-align: center">MỤC V: Ý THỨC THAM GIA HOẠT ĐỘNG CỦA LỚP</p>
                </div>
                <div class="scrollbar" class="style-default" style="margin-top: -20px; margin-left: 50px ">
                    <div class="force-overflow" ></div>
                    <ul class="list-group" >
                        <%for(var i =0;i<dshd[0].length;i++){if(dshd[0][i].MaLoai == 5){%>
                        <li class="list-group-item">
                           <%if(dshd[0][i].DaDangKy == 0){%>
                            <a href='hoatdong/dangki/<%=dshd[0][i].MaHD%>'><button class="button  btn-primary pull-right dangky" type="submit">ĐĂNG KÝ</button></a>
                        <%}else{%>
                            <a href='hoatdong/huydangki/<%=dshd[0][i].MaHD%>'><button class="button  btn-primary pull-right huydangky" type="submit">HỦY ĐĂNG KÝ</button></a>
                        <%}%>
                            <a href='hoatdong/<%=dshd[0][i].MaHD%>'><%=dshd[0][i].Ten%></a>
                        </li>
                    <%}}%>
                    </ul>
                </div>
            </article>
            <!--Mục 6-->
            <article class="module">
                <div class="panel-heading">
                    <p style="background-color:#454f5c; color: #ffffff; font-family: font/SVN-Gilroy; font-weight: bold; border-radius: 8.9px; width: 490px; height: 32px; font-size: 20px; text-align: center">MỤC VI: NỘI DUNG KHUYẾN KHÍCH CỘNG THÊM</p>
                </div>
                <div class="scrollbar" class="style-default" style="margin-top: -20px; margin-left: 50px ">
                    <div class="force-overflow" ></div>
                    <ul class="list-group" >
                        <%for(var i =0;i<dshd[0].length;i++){if(dshd[0][i].MaLoai == 6){%>
                        <li class="list-group-item">
                            <%if(dshd[0][i].DaDangKy == 0){%>
                            <a href='hoatdong/dangki/<%=dshd[0][i].MaHD%>'><button class="button  btn-primary pull-right dangky" type="submit">ĐĂNG KÝ</button></a>
                        <%}else{%>
                            <a href='hoatdong/huydangki/<%=dshd[0][i].MaHD%>'><button class="button  btn-primary pull-right huydangky" type="submit">HỦY ĐĂNG KÝ</button></a>
                        <%}%>
                            <a href='hoatdong/<%=dshd[0][i].MaHD%>'><%=dshd[0][i].Ten%></a>
                        </li>
                    <%}}%>
                    </ul>
                </div>
            </article>
        </div>

    </div>
</div>
</body>
</html>