<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>My Training Point</title>
    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/cssS7.css">
    <style>
      @font-face { font-family: JuneBug; src: url('../font/SVN-Gilroy Bold.otf') format('truetype'); } 
    </style>
	<link rel="icon" href="../img/LOGO2.png" type="image/x-icon">
</head>
<body>
<nav class="navbar navbar-static-top">
    <div class="container-fluid">
        <!-- Navbar top -->
        <a class="navbar-brand" href="/sinhvien">
            <p style="color:#fff; font-family: font/SVN-Gilroy; font-weight: bold; font-size: 19px"> <img src="../img/LOGO.png" height="40" width="40" style="margin-top: -11px; margin-right: 10px">MY TRAINING POINT</p>
        </a>
        <!-- Diem -->
        <form class="navbar-form navbar-left" method="post" action='/sinhvien/HoatDongTimKiem' role="search" >
            <div class="form-group">
                <p class="point"> <img src="../img/ic_medal.png" height="30" width="30" ><%= diem %></p>
            </div>
            <!-- Search -->
            <div class="form-group">
                <input type="text"  name = 'KeyWord' class="form-control" placeholder="Tìm kiếm tên hoạt động" id="nv_search" style="font-size: 15px" >
            </div>
        </form>
        <!-- Menu dropdowm -->
        <div class="nav navbar-nav navbar-right">
            <div class="btn-group show-on-hover">
                <div data-toggle="dropdown" style="margin-right: 10px">
                    <img src="../img/ic_setting.png" height="25" width="25" style="margin-top:12px; margin-right: 5px">
                    <span class="caret" style="color: #fff"></span>
                </div>
                <ul class="dropdown-menu" role="menu">
                    <li><a id="profile" href="profile">Profile</a></li>
                    <li><a id="help"href="help">Help</a></li>
                    <li><a id="doimatkhau"href="doimatkhau">Đổi mật khẩu</a></li>
                    <li class="divider"></li>
                    <li><a id="dangxuat"href="/logout">Đăng xuất <img src="../img/ic_logout.png" height="15" style="opacity: 50"></a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 navbar_left">
            <!-- Thông tin sinh viên -->
            <a href='profile' style=" text-decoration: none;">
            <div class="info">
                <img id="avatar" src="../img/<%if(datasv[0].CoAvt != null){%><%=datasv[0].MSSV%>.png<%}else{%>ic_avatar.png<%}%>" class="img-responsive center-block" alt="Avatar" width="85px">
                <p class="name"> <%= datasv[0].Ten %> </p>
                <p class="mssv"> <%= datasv[0].MSSV %> </p>
            </div>
        </a>
            <br>
            <!-- Menu chức năng -->
            <div class="left-navigation" style="background-color: #fff" >
                <ul class="nav" id="nv_content" style="height: 375px">
                    <li><a id="hoatdong" href="hoatdong"><img src="../img/ic_hoatdong.png" height="28" style="margin-right: 14px; margin-left: 50px">HOẠT ĐỘNG</a></li>
                    <li><a id="thamgia" href="thamgia"><img src="../img/ic_thamgia.png" height="28" style="margin-right: 14px; margin-left: 50px">THAM GIA</a> </li>
                    <li><a id="goiy" href="goiy"><img src="../img/ic_goiy.png" height="28" style="margin-right: 16px; margin-left: 48px">GỢI Ý</a></li>
                    <li><a id="lotrinh" href="lotrinh"><img src="../img/ic_lotrinh.png" height="28" style="margin-right: 17px; margin-left: 47px">LỘ TRÌNH</a></li>
                    <li class="active"><a id="lienhe" href="lienhe"><img src="../img/ic_lienhe.png" height="28" style="margin-right: 17px; margin-left: 47px">LIÊN HỆ</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9 content" style="margin-left: 36px" >
            <!-- Thông tin trợ lý sinh viên -->
            <article class="module">
                <div class="panel-heading">
                    <p style="background-color:#454f5c; color: #ffffff; font-family: font/SVN-Gilroy; font-weight: bold; border-radius: 10px; width: 180px; height: 30px; font-size: 20px; text-align: center">TRỢ LÍ SINH VIÊN</p>
                </div>
                <article class="module2">
                    <table class="head-table" style="border-top-right-radius: 10px; border-top-left-radius: 10px">
                        <col width="90">
                        <col width="210">
                        <col width="380">
                        <col width="119">
                        <col width="101">

                        <tr>
                            <th class="text-heading">Mã khoa</th>
                            <th class="text-heading">Tên</th>
                            <th class="text-heading">Email</th>
                            <th class="text-heading">Sđt</th>
                            <th class="text-heading">Phòng</th>
                        </tr>
                    </table>

                    <div id="wrapper" style="background-color: #fff">
                        <div class="scrollbar">
                            <div class="force-overlow"></div>
                            <table class="table">
                            <%for(var i = 0;i<ds_TLSV.length;i++){ %>
                                <tr style="max-height: 50px;">
                                    <td class="info2 khoa" style="background-color: #ffffff;"><%= ds_TLSV[i].MaKhoa %></td>
                                    <td class="info2 ten" style="background-color: #ffffff;"><%= ds_TLSV[i].Ten %></td>
                                    <td class="info2 email" style="background-color: #ffffff;"><%= ds_TLSV[i].Email %></td>
                                    <td class="info2 sdt" style="background-color: #ffffff;"><%= ds_TLSV[i].SDT %></td>
                                    <td class="info2 phong" style="background-color: #ffffff;"><%= ds_TLSV[i].PhongLamViec %></td>
                                </tr>
                            <% } %>
                            <%if(ds_TLSV.length==0){%>
                                <tr style="max-height: 50px;">
                                    <td class="info2 khoa" style="background-color: #ffffff;"><i>Trống</i></td>
                                </tr>
                            <%}%>
                            </table>
                        </div>

                    </div>
                </article>
            </article>
            <!-- Thông tin tác giả -->
            <article class="module1">
                <div class="panel-heading">
                    <p style="background-color:#454f5c; color: #ffffff; font-family: font/SVN-Gilroy; font-weight: bold; border-radius: 8.9px; width: 170px; height: 30px; font-size: 20px; text-align: center">NHÓM TÁC GIẢ</p>
                </div>
                <div class="col-md-4">
                    <img class="img1" src="../img/Tin.png" class="img-responsive center-block" alt="Image">
                    <p class="tentacgia">ĐÀO XUÂN TIN</p>
                    <p class="vaitro">Back-end Developer</p>
                    <p class="email">xuantinfx@gmail.com</p>
                </div>
                <div class="col-md-4">
                    <img class="img1" src="../img/Trang.jpg" class="img-responsive center-block" alt="Image">
                    <p class="tentacgia">LÊ THỊ THIÊN TRANG</p>
                    <p class="vaitro">Front-end Developer</p>
                    <p class="email">lethithientrangitus@gmail.com</p>

                </div>

                <div class="col-md-4">
                    <img class="img1" src="../img/Tuan.JPG" class="img-responsive center-block" alt="Image">
                    <p class="tentacgia">PHẠM ANH TUẤN</p>
                    <p class="vaitro">Front-end Developer</p>
                    <p class="email">phamanhtuancross@gmail.com</p>

                </div>

                <div class="col-md-6">
                    <img class="img2" src="../img/Tu.png" class="img-responsive center-block" alt="Image">
                    <p class="tentacgia" style="margin-left: 130px">NGUYỄN PHAN MINH TÚ</p>
                    <p class="vaitro" style="margin-left: 130px">Back-end Developer</p>
                    <p class="email" style="margin-left: 130px">minhtunguyenphan@gmail.com</p>

                </div>

                <div class="col-md-6">
                    <img class="img3" src="../img/Vu.jpg" class="img-responsive center-block" alt="Image">
                    <p class="tentacgia" style="margin-right: 130px">LÝ ANH VŨ</p>
                    <p class="vaitro" style="margin-right: 130px">Front-end Developer</p>
                    <p class="email" style="margin-right: 130px">lyanhvu1512@gmail.com</p>

                </div>
            </article>

        </div>

    </div>
</div>
<script src="../../PageManager/ChangePageManger.js"></script>
</body>
</html>