<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>My Training Point</title>
    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/cssS2.css">
     <style>
      @font-face { font-family: JuneBug; src: url('../font/SVN-Gilroy Bold.otf') format('truetype'); } 
    </style>
	<link rel="icon" href="../img/LOGO2.png" type="image/x-icon">
</head>
<body>
<nav class="navbar navbar-static-top">
    <div class="container-fluid">
        <!-- Navbar top -->
        <a class="navbar-brand" href="/sinhvien">
            <p style="color:#fff; font-family: font/SVN-Gilroy; font-weight: bold; font-size: 19px"> <img src="../img/LOGO.png" height="40" width="40" style="margin-top: -11px; margin-right: 10px">MY TRAINING POINT</p>
        </a>
        <!-- Diem -->
        <form class="navbar-form navbar-left" method="post" action='/sinhvien/HoatDongTimKiem' role="search" >
            <div class="form-group">
                <p class="point"> <img src="../img/ic_medal.png" height="30" width="30" ><%=diem%></p>
            </div>
            <!-- Search -->
            <div class="form-group">
                <input type="text"  name = 'KeyWord' class="form-control" placeholder="Tìm kiếm tên hoạt động" id="nv_search" style="font-size: 15px" >
            </div>
        </form>
        <!-- Menu dropdowm -->
        <div class="nav navbar-nav navbar-right">
            <div class="btn-group show-on-hover">
                <div data-toggle="dropdown" style="margin-right: 10px">
                    <img src="../img/ic_setting.png" height="25" width="25" style="margin-top:12px; margin-right: 5px">
                    <span class="caret" style="color: #fff"></span>
                </div>
                <ul class="dropdown-menu" role="menu">
                    <li><a id="profile" href="/sinhvien/profile">Profile</a></li>
                    <li><a id="help"href="/sinhvien/help">Help</a></li>
                    <li><a id="doimatkhau"href="/sinhvien/doimatkhau">Đổi mật khẩu</a></li>
                    <li class="divider"></li>
                    <li><a id="dangxuat"href="/logout">Đăng xuất <img src="../img/ic_logout.png" height="15" style="opacity: 50"></a></li>
                </ul>
            </div>
        </div>

    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 navbar_left">
            <!-- Thông tin sinh viên -->
             <a href='/sinhvien/profile' style=" text-decoration: none;">
            <div class="info">
                <img id="avatar" src="../img/<%if(datasv[0].CoAvt != null){%><%=datasv[0].MSSV%>.png<%}else{%>ic_avatar.png<%}%>" class="img-responsive center-block" alt="Avatar" width="85px">
                <p class="name"> <%= datasv[0].Ten %> </p>
                <p class="mssv"> <%= datasv[0].MSSV %> </p>
            </div>
            </a>
            <br>
            <!-- Menu chức năng -->
             <div class="left-navigation" style="background-color: #fff" >
                <ul class="nav" id="nv_content" style="height: 375px">
                    <li><a id="hoatdong" href="/sinhvien/hoatdong"><img src="../img/ic_hoatdong.png" height="28" style="margin-right: 14px; margin-left: 50px">HOẠT ĐỘNG</a></li>
                    <li><a id="thamgia" href="/sinhvien/thamgia"><img src="../img/ic_thamgia.png" height="28" style="margin-right: 14px; margin-left: 50px">THAM GIA</a> </li>
                    <li><a id="goiy" href="/sinhvien/goiy"><img src="../img/ic_goiy.png" height="28" style="margin-right: 16px; margin-left: 48px">GỢI Ý</a></li>
                    <li><a id="lotrinh" href="/sinhvien/lotrinh"><img src="../img/ic_lotrinh.png" height="28" style="margin-right: 17px; margin-left: 47px">LỘ TRÌNH</a></li>
                    <li><a id="lienhe" href="/sinhvien/lienhe"><img src="../img/ic_lienhe.png" height="28" style="margin-right: 17px; margin-left: 47px">LIÊN HỆ</a></li>
                </ul>
            </div>
        </div>
        <!-- Content -->
        <div class="col-md-9 content" style="margin-left: 36px">
            <!-- Khoa CNTT -->
            <article class="module" style="margin-top: -5px">
                <div class="panel-heading">
                    <p class="panel-heading1"> KHOA CÔNG NGHỆ THÔNG TIN</p>
                </div>
                <p class="cntt_noidung" style="margin-left: 30px"> Hoạt động Về với ngoại thành đã thu hút rất nhiều sinh viên tham gia.</p>
            </article>
            <!-- Khoa Toán tin -->
            <article class="module">
                <div class="panel-heading">
                    <p class="panel-heading2">KHOA TOÁN TIN</p>
                </div>
                <p class="tt_noidung" style="margin-left: 30px"> Toán tin tổ chức cuộc thi học thuật.</p>
            </article>
            <!-- Khoa Hóa học-->
            <article class="module">
                <div class="panel-heading">
                    <p class="panel-heading3">KHOA HÓA HỌC</p>
                </div>
                <p class="hh_noidung" style="margin-left: 30px"> ĐK-LCH Hóa học tổ chức hoạt động chuẩn bị Giáng Sinh 2017.</p>
            </article>
            <!-- Khoa Sinh học - Công nghệ sinh học-->
            <article class="module">
                <div class="panel-heading">
                    <p class="panel-heading4"> KHOA SINH HỌC - CÔNG NGHỆ SINH HỌC</p>
                </div>
                <p class="sh_noidung" style="margin-left: 30px"> Tổ chức Cuộc thi Thiết kế Áo khoa 2017</p>
            </article>
            <!-- Khoa Điện tử viễn thông -->
            <article class="module">
                <div class="panel-heading">
                    <p class="panel-heading5"> KHOA ĐIỆN TỬ VIỄN THÔNG</p>
                </div>
                <p class="dtvt_noidung" style="margin-left: 30px"> Seminar thiết kế mô hình nhà thông minh.</p>
            </article>
            <!-- Khoa Địa chất -->
            <article class="module">
                <div class="panel-heading">
                    <p class="panel-heading6"> KHOA ĐỊA CHẤT</p>
                </div>
                <p class="dc_noidung" style="margin-left: 30px"> Tổ chức đi thực địa Đà Lạt - Nha Trang.</p>
            </article>
            <!-- Khoa Môi trường -->
            <article class="module">
                <div class="panel-heading">
                    <p class="panel-heading7"> KHOA MÔI TRƯỜNG</p>
                </div>
                <p class="mt_noidung" style="margin-left: 30px"> Tổ chức đi kiến tập nghề nghiệp.</p>
            </article>
            <!-- Khoa Khoa học vật liệu -->
            <article class="module">
                <div class="panel-heading">
                    <p class="panel-heading8"> KHOA KHOA HỌC VẬT LIỆU</p>
                </div>
                <p class="khvl_noidung" style="margin-left: 30px"> Tham quan Viện nghiên cứu.</p>
            </article>
            <!-- Khoa Vật lý - Vật lý kỹ thuật -->
            <article class="module">
                <div class="panel-heading">
                    <p class="panel-heading9"> KHOA VẬT LÝ - VẬT LÝ KỸ THUẬT</p>
                </div>
                <p class="vl_noidung" style="margin-left: 30px"> Cuộc thi học thuật.</p>
            </article>
            <!-- Khoa Hải dương học -->
            <article class="module">
                <div class="panel-heading">
                    <p class="panel-heading10"> KHOA HẢI DƯƠNG HỌC</p>
                </div>
                <p class="hdh_noidung" style="margin-left: 30px"> Tổ chức thực địa.</p>
            </article>
        </div>
    </div>
</div>
<script src="../../PageManager/ChangePageManger.js"></script>
</body>
</html>

