<!DOCTYPE html>
<html lang="vi">
<style>
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>
<link rel="icon" href="../img/LOGO2.png" type="image/x-icon">
<head>
    <meta charset="UTF-8">
    <title>My Training Point</title>
    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/cssS12.css">
    <style>
      @font-face { font-family: JuneBug; src: url('../font/SVN-Gilroy Bold.otf') format('truetype'); } 
    </style>
</head>
<body>
<div class="container-fluid">
	<img src="../img/5_images.png" alt="" style="width: 950px; height:auto; text-align: center; margin-top: 40px; margin-left: 165px">
	<div class="centered">
                <article class="module">
                    <form method="post" action="uploadavatar" enctype="multipart/form-data">
       				 	<input type="file" name="file" value="Chọn tệp" style="font-size: 20px; font-family: font/SVN-Gilroy; font-weight: bold">
       				 	<br>
        				<input type="submit" name="" id="bt" value="Tải lên" style="margin-left: 130px; margin-top: -15px">
    				</form>
                </article>
    </div>
    
</div>
</body>
</html>