<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title> My Training Point </title>
    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/cssS1.css">
	<link rel="icon" href="img/LOGO2.png" type="image/x-icon">
</head>
<body>
<div class="screen1">
    <div class="images_title">
        <img src="img/1_title.png">
    </div>
    <p class="text1" align="center">
        HỆ THỐNG HỖ TRỢ SINH VIÊN QUẢN LÝ ĐIỂM RÈN LUYỆN
    </p>
    <table>
        <div class="col-md-7">
            <div class="images_content">
                <img src="img/1_images.png"/>
            </div>
        </div>
        <!-- form đăng nhập-->
        <div class="col-md-5">
            <p class="text2">
                ĐĂNG NHẬP
            </p>
            <form id="form-login" action="" method="post" role="form">
                <%if(message){%>
                <div id="errors" > <p style="color: #ff1b41; font-family: font/SVN-Gilroy; font-weight: bold; font-size: 19px; margin-left: 110px; margin-top: -10px"><%=message%></p>
                <%} else {%>
                <div id="errors">
                <%}%>
                
                </div>
                <div class="form-MSSV">
                    <label for="mssv"></label>
                    <input type="text" class="form-control" name="username" id="mssv" placeholder="MSSV">
                </div>
                <div class="form-Password" >
                    <label for="pass"></label>
                    <input type="password" class="form-control" name="password" id="pass" placeholder="Password hoặc Số CMND">
                </div>
                <button class="button"type="submit" class="btn btn-primary" onclick="return onFormSubmit()">OK</button>
            </form>
        </div>
    </table>
</div>
<script src="js/jsS1.js"></script>
</body>
</html>