<!DOCTYPE html>
<html>
<head>
	<title>danh sách sinh viên</title>
	<style>
		table, th, td {
    	border: 1px solid black;
    	border-collapse: collapse;
		}
		th, td {
    	padding: 5px;
    	text-align: left;
		}
</style>
</head>
<body>
	<a href="/admin">
		<button>Trang Chủ</button>
	</a>
	<br>
	<a href="/admin/danh-sach-sv/them-sv">
		<button>Thêm sinh viên</button>
	</a>
	<table>
		<tr>
			<th>MSSV</th>
			<th>CMND</th>
			<th>Tên</th>
			<th>ĐRL</th>
			<th>Mã Khoa</th>
			<th>Mã Lớp</th>
			<th>Năm nhập học</th>
			<th>SĐT</th>
			<th>Email</th>
			<th>Giới Tính</th>
			<th>Ngày sinh</th>
			<th>Nơi Sinh</th>
			<th>Địa chỉ</th>
			<th>Mật khẩu</th>
			<th></th>
		</tr>
		<% for (var i = 0; i < ds_sinhVien.length; i++) { %>
		<tr>
			<td><%= ds_sinhVien[i].MSSV %></td>
			<td><%= ds_sinhVien[i].CMND %></td>
			<td><%= ds_sinhVien[i].Ten %></td>
			<td><%= ds_sinhVien[i].DRL %></td>
			<td><%= ds_sinhVien[i].MaKhoa %></td>
			<td><%= ds_sinhVien[i].MaLop %></td>
			<td><%= ds_sinhVien[i].NamNhapHoc %></td>
			<td><%= ds_sinhVien[i].SDT %></td>
			<td><%= ds_sinhVien[i].Email %></td>
			<% if( ds_sinhVien[i].GioiTinh[0] == 1 ){%>
				<td>Nam</td>
			<%} else {%>
				<td>Nữ</td>
			<% } %>
			<td><%= ds_sinhVien[i].NgaySinh.toLocaleDateString() %></td>
			<td><%= ds_sinhVien[i].NoiSinh %></td>
			<td><%= ds_sinhVien[i].DiaChi %></td>
			<td><%= ds_sinhVien[i].MatKhau %></td>
			<td><a href='/admin/danh-sach-sv/sua-sv/<%= ds_sinhVien[i].MSSV %>'>
				<button>Sửa SV</button>
			</a></td>
		</tr>
		<% } %>
	</table>
	<!--Hiển thị danh sách sinh viên tại đây, và đồng thời kèm theo nút sửa-->
</body>
</html>
