<!DOCTYPE html>
<html>
<head>
	<title>Danh sách admin</title>
	<style>
		table, th, td {
			border: 1px solid black;
			border-collapse: collapse;
		}
		th, td {
			padding: 5px;
			text-align: left;
		}
</style>
</head>
<body>
	<a href="/admin">
		<button>Trang Chủ</button>
	</a>
	<br>
	<a href="/admin/danh-sach-ad/them-ad">
		<button>Thêm admin</button>
	</a>
	<table>
		<tr>
			<th>Tên</th>
			<th>Năm Sinh</th>
			<th>Ad root</th>
			<th>Sửa SV</th>
			<th>Sửa HĐ</th>
			<th>Sửa ad</th>
			<th>Sửa TLSV</th>
			<th>Tài Khoản</th>
			<th>Mật khẩu</th>
			<th></th>
		</tr>
		<% for (var i = 0; i < ds_ad.length; i++) { %>
		<tr>
			<td><%= ds_ad[i].Ten %></td>
			<td><%= ds_ad[i].NamSinh %></td>
			<td><%= ds_ad[i].AdminRoot[0] %></td>
			<td><%= ds_ad[i].SuaSV[0] %></td>
			<td><%= ds_ad[i].SuaHD[0] %></td>
			<td><%= ds_ad[i].SuaAdmin[0] %></td>
			<td><%= ds_ad[i].SuaTroLiSV[0] %></td>
			<td><%= ds_ad[i].TaiKhoan %></td>
			<td><%= ds_ad[i].MatKhau %></td>
			<td><a href='/admin/danh-sach-ad/sua-ad/<%= ds_ad[i].TaiKhoan %>'>
				<button>Sửa ad</button>
			</a></td>
		</tr>
		<% } %>
	</table>
</body>
</html>
