<!DOCTYPE html>
<html>
<head>
	<title>Thêm Hoạt Động</title>
	<script type="text/javascript">
		function clickbtn() {
			window.location.href = '/admin/danh-sach-hd';
		}
	</script>
</head>
<body>
	<form action="/admin/danh-sach-hd/them-hd" method="post">
		<input type="text" name="MaHD" placeholder="Mã hoạt động"><br>
		<label for="MaLoai">Tên Loại hoạt động: </label>
		<select name="MaLoai">
			<% for (var i = 0; i < ds_ML.length; i++) { %>
				<option value="<%= ds_ML[i].MaLoai %>"><%= ds_ML[i].Ten %></option>
			<% } %>
		</select> <br>
		<input type="text" name="Ten" placeholder="Tên hoạt động"><br>
		<input type="number" name="SoDRLDatDuoc" placeholder="Số điểm rèn luyện cho hoạt động"><br>
		<label for="NgayToChuc">Ngày tổ chức</label>
		<input type="date" name="NgayToChuc"><br>
		<input type="text" name="DiaDiemToChuc" placeholder="Địa điểm tổ chức"><br>
		<select name="MaDV">
			<% for (var i = 0; i < ds_DV.length; i++) { %>
				<option value="<%= ds_DV[i].MaDV %>"><%= ds_DV[i].Ten %></option>
			<% } %>
		</select> <br>
		<input type="number" name="SLTG" placeholder="Số lượng tham gia"><br>
		<input type="submit" value="Thêm">
	</form>
	<button onclick="clickbtn();">Hủy</button>
</body>
</html>
