<!DOCTYPE html>
<html>
<head>
	<title>Thêm Đơn vị phụ trách</title>
	<script type="text/javascript">
		function clickbtn() {
			window.location.href = '/admin/danh-sach-dvpt';
		}
	</script>
</head>
<body>
	<form action="/admin/danh-sach-dvpt/them-dvpt" method="post">
		<input type="text" name="MaDV" placeholder="Mã đơn vị phụ trách"><br>	
		<input type="text" name="Cap" placeholder="Cấp quản lý"><br>
		<input type="text" name="Ten" placeholder="Tên đơn vị phụ trách"><br>
		<input type="submit" value="Thêm">
	</form>
	<button onclick="clickbtn();">Hủy</button>
</body>
</html>
